<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55998679859-j04ngrb6u14ohll1m31s2sne6r4rnf8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55998679859-j04ngrb6u14ohll1m31s2sne6r4rnf8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDcla2wawc_1BoNQuN0pgzVX7_1po2FGhg</string>
	<key>GCM_SENDER_ID</key>
	<string>55998679859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cds.PocketML-iOS</string>
	<key>PROJECT_ID</key>
	<string>pocketml-fa79a</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketml-fa79a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55998679859:ios:720ade2754d7615edecc46</string>
</dict>
</plist>